/* Main CSS Stylesheet */

/* General Styles */
body {
  font-family: 'Open Sans', 'Calibri', Arial, sans-serif;
  font-size: 1.25em;
  background-color: #f6feff;
  overflow-x: hidden;
}

figcaption {
	color: white;
	text-align: center;
	font-size: 12px;
}

#bookingsNotes {
	color: #333;
}

.prim-text {
  line-height: 1.5;
  margin: 30px 0;
  color: #00171f;
}

.sec-text {
  line-height: 1.5;
  margin: 30px 0;
  color: #f6feff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

a {
  color: #00171f;
}

a:hover, a:focus {
  color: #00bff3;
}

hr.small {         /*tiny rules to break up text sections*/
  max-width: 100px;
  margin: 10px auto;
  border-width: 4px;
  border-color: #f6feff;
}

hr.content-hr {
  background-color: #efd093;
}

/* Logo, icon and branding styles */
#MHSlogo {
  max-width: 150px;
  z-index: 10;
}

#MHSlogoMobile {
  max-width: 150px;
  margin-right: 2%;
}

.navbar {
  width: 100%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
  margin-right: 4%;
}

.navbar > li {
  background-color: #00bff3;
}

.navbar-custom { /*customized nav styles. NOT a bootstrap pre-made class*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background: #f6feff;
}

.navbar-custom .navbar-header .navbar-toggle { /*cutsomizing mobile nav*/
  color: #00bff3;
  border: 1px solid #00bff3;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.dropdown .dropdown-menu {
  text-align: center;
}

.dropdown .dropdown-menu li:hover {
  background: #efd093;
}

#partners {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

#bed {
	margin-top: -25px;
	margin-bottom: 10px;
}

#ourPartners h3 {
	font-size: 30px;
}

#before1 {
	margin-top: 20px;
}


@media only screen and (min-width: 768px) {
  .logo-con {
    display: none;
  }

  .navbar-custom {
    background: #f6feff;
  }

  .navbar-custom .navbar-brand {
    color: #00bff3;
    padding: 20px;
  }

  .navbar-custom .nav li a {
    color: black;
    padding: 20px;
  }

  .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: #00bff3;
  }
}

#loginIcon {
  max-width: 20px;
}

@media only screen and (max-width: 767px) {
  .logo-con {
    margin-top: 20px;
  }

  #MHSlogo {
    display: none;
  }

  #MHSLogoMobile {
    margin-right: 20px;
  }

  .dropdown .dropdown-menu {
    text-align: left;
  }

  .logo-con {
    max-width: 150px;
    margin-top: -28px;
    margin-left: 28%;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
  }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    transition: transform 0.3s;
  }

  .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
    color: #00bff3;
  }

  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }

  .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
    color: #00bff3;
  }

  .navbar-custom.is-visible {
  transform: translate3d(0, 100%, 0);
  }

  #schedule {
  background: url('../images/BG_ci_aerial.jpg') no-repeat;
  background-size: 100%;
  background-color: transparent;
  }
}

/* Content Section Styles */
.top-container {
  padding: 75px 0px 40px 0px;
  background: #00bff3;
}

.well {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #efd093;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.thumbnail {
  background: rgba(242, 242, 242, 0.6);
  border: none;
}

.important {
  font-size: 1.4em;
}

/*Marine Heritage Society Section*/
.content-header {
  text-align: center;
}

/*Touring Chantry Island Carousel Section*/
#tourSec {
  padding: 35px 0px 35px 0px;
}

.carousel-indicators .active {
  background-color: #00bff3;
}

.carousel-inner img {
  width: 100%;
  max-height: 600px
}

.carousel-control {
  width: 0;
}

.carousel-control.left, .carousel-control.right {
	opacity: 1;
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev, .carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span, .carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover, .carousel-control.right span:hover {
	opacity: .7;
}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #f6feff;
}

.carousel-text h3 {
  font-size: 40px;
}

.carousel-text h4 {
	padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-custom {
  color: #f6feff;
  background-color: transparent;
  border: 2px solid #f6feff;
}

.btn-custom:hover {
  color: #00bff3;
  background-color: #f6feff;
  border-color: #f6feff;
}

.btn-custom-alt {
  color: #efd093;
  border: 2px solid#efd093;
  background-color: transparent;
}

.btn-custom-alt:hover {
  color: #f6feff;
  border: 2px solid #efd093;
  background-color: #efd093;
}

.btn-custom-alt-bookings {
  color: #f6feff;
  border: 2px solid #efd093;
  background-color: #efd093;
}

.btn-custom-alt-bookings:hover {
  color: #efd093;
  border: 2px solid#efd093;
  background-color: transparent;
}

/* About Chantry Island */
.about-container {
  padding-top: 15px;
  background: #efd093;
}

.about-container h3 {
  color: #f6feff;
  margin-bottom: 4%;
}

.img-responsive {
  margin: 0 auto;
}

/* News section */
.news-container {
  padding: 40px 0px 40px 0px;
}

#newsTabs .tab-content {
  background-color: #f6feff;
  padding : 5px 15px;
  border: 2px solid #efd093;
  border-radius: 0 0 8px 8px;
  color: #f6feff;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#newsTabs .nav-pills {
  color: #f6feff;
}

#newsTabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}


#newsTabs .nav-pills > li > a:hover, #newsTabs .nav-pills > li.active > a:focus {
  background-color: #efd093;
  color: #f6feff;
}

.tab-pane > .active {
  background-color: #efd093;
  color: #f6feff;
}

/* Events content section */
#eventsCal {
  background:  url('../images/island_water.jpg') no-repeat center center;
  overflow-y: hidden;
  padding: 40px 0px 40px 0px;
}

@media (min-width: 992px) {
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;}
}

@media (max-width: 991px) {
	.carousel-caption p,
	#myCarousel .list-group {display:none;}
}

/* Events calendar seection */
#events {
  padding: 40px 0px 40px 0px;
  background: #00bff3;
}

#panelWrapper {
  border-color: #efd093;
  background: rgba(242, 242, 242, 0.8);
  box-shadow: 0px 10px 18px 0px rgba(239, 208, 147, 0.6);
}

.panel-title {
  text-align: center;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #efd093;
  color: #f6feff;
}

.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}

/* Bookings */
#bookings {
  margin-top: 4%;
  padding: 40px 0px 40px 0px;
  background: #00bff3;
}

#schedule {
  padding: 40px 0px 40px 0px;
  background-color: #efd093;
}

#bookingsInfo {
  padding-top: 4%;
  background-color: #efd093;
}

/*Gallery Section*/
#gallerySec {
  padding: 40px 0px 40px 0px;
}

#modal5, #modal6, #modal7, #modal8 {
  margin-bottom: 20px;
}

#volunteers {
  padding: 40px 0px 40px 0px;
}

.modal .modal-header {
  text-align: center;
}

/* Contact Section */
#mapSec {
  padding: 40px 0px 40px 0px;
}
#contactSec {
  margin-top: 6%;
  padding: 40px 0px 40px 0px;
  background: #00bff3;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

/* Sub-footer Section */
.sub-footer {
  background: url(../images/bg_white_boats.jpg) no-repeat center center;
  background-size: cover;
  min-height: 25%;
  overflow: hidden;
  padding: 50px 50px;
}

.sub-footer-con {
  text-align: center;
  max-height: 200px;
  padding: 20px 20px;
}

.thumbnail {
  border: none;
  background: rgba(242, 242, 242, 0.6);
}

/* Footer styles */
footer {
	margin-top: 1em;
	background-color: #00bff3;
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px 0 15px;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	color: #f6feff;
	opacity: 0.7;
}


footer ul li a:hover {
	color: #0085A1;
	opacity: 1;
	text-decoration: none;
}

footer h3 {
	color: #f6feff;
}

#footer-contact {

}

#social li {
	display: inline;
}
