/* Main CSS Stylesheet */
/*------New Styles-----*/

.car-intext {
	border: solid 2px white;
	padding-bottom: 20px;
	background: rgba(0, 191, 243, 0.9);
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-left: 100px;
	text-align: center;
}

.cartextsmall {
	border: solid 1px white;
	background: rgba(0, 191, 243, 0.9);
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

#car3text {
	font-size: 0.9em;
	line-height: 1em;
}

.car-intext h4 {
	font-size: 2em;
	line-height: 1.5em;
}

.car-btn {
	margin-right: 15px;
	font-size: 1.8em;
	text-shadow: none;
	background-color: white;
	color: #006688;
	font-weight: 600;
}

.car-btn:hover {
	background-color: #006688;
	color: white;
}

/*---------------------*/
/*------admin styles--------*/

.fileSelector {
	text-align: center;
	margin: 0 auto;
	display: block;
	background-color: white;
}

#adminCreate, #admin_edituser, #admin_editabout, #admin_editrest, #admin_editnews, #admin_editevents, #admin_editsched, #admin_editgall, #admin_editvols {
	background-image: url(../images/waterBG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: block;
	margin: 0 auto;
	overflow-x: hidden;
	text-align: center;
}

#createForm label {
	font-size: 1.3em;
}

#createsub, .submit {
	border: solid 2px #4d90fe;
	box-shadow: 2px 2px 2px #000;
	font-weight: bold;
	font-size: 1.1em;
}


#createForm input:not(#createsub), #adminEdit input:not(.submit), #editabout input:not(.submit), #editrest input:not(.submit), #editnews input:not(.submit), #editevents input:not(.submit),
#editsched input:not(.submit), #editgall input:not(.submit), .adminInput, #editvols input:not(.submit)    {
	text-align: center;
	box-shadow: 2px 2px 2px #000;
border: solid 1px black;
padding: 5px;
border-radius: 5px;
}

.white {color: white;}
.ul {text-decoration: underline;}

#admin_index {

	background-image: url(../images/BG_ci_aerial.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#adminIndex, #createSection, #adminEditUser, #editabout, #editrest, #editnews, #editevents, #editsched, #editgall, #editvols {
	background: rgba(255, 255, 255, 0.7);
}

#adminIndex h1 {
  font-size: 2.5em;

}

#adminOptions, #schedOptions {
margin-left: -40px;
}

#adminOptions li a, #schedOptions li a {
 color: #ffffff;
font-size: 1.5em;
border-radius: 5px;
padding: 5px 10px 5px 10px;
background-color:  #00bff3;
box-shadow: 2px 2px 2px #000;
}

#adminOptions li, #schedOptions li  {
	list-style: none;
	margin-top: 30px;
}

.linkhover:hover {
  text-decoration: underline;
}

#phpGreeting {
 margin-top: 10px;
}#greeting, #php {
 color: #4d90fe;
 font-weight: 600;
 font-size: 1.8em;
}

.whitebox {
	border: solid 1px #4d90fe;
	border-radius: 10px;
}

.admin {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.admin h1 {
	margin-bottom: 25px;
	color: #00171f;
}

#loginSection input.box {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	border: solid 1px #00171f;
	border-radius: 5px;
	padding: 10px;
}

section.admin form input.submit {
	text-align: center;
  padding: 8px 20px 8px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  display: block;
  margin: 0 auto;
  background-color: #00bff3;
  color: white;
  margin-top: 20px;
}

section.admin form input.submit:hover, section.admin form input.submit:active {
	transform: scale(0.9,0.9);
	transition: ease 0.5s;
}

.yellow { color:  #00bff3; }


#mapWrapper {

}

 #map {
        height: 50%;
		border-bottom: solid 1px #4d90fe;
		width: 100%;
      }
      /* Optional: Makes the sample page fill the window.
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */

      #map-panel {

        z-index: 10;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
		background-color: #4d90fe;
      }

      #right-panel {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 30px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: -320px;
		border: solid 4px #4d90fe;
		border-radius: 20px;
		height: 500px;
		margin-right: 20px;
		margin-left: 20px;
		overflow: auto;
		margin-bottom: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 5px;
		width: 100%;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
		width: 100%;
      }



	 #mode-selector {
        color: #fff;
       border: solid 2px #4d90fe;
		border-radius: 10px;
		background-color: white;
		padding: 10px;
        margin-top: 5px;
		margin-left: 12px;
		box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
      }

	       #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 300;
        width: 220px;
		padding: 10px;
		border: solid 2px #4d90fe;
		border-radius: 10px;
		margin-top: 10px;
		margin-right: 8px;
		 box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
      }

	  #origin-input {
		 margin-left: 30%;
	  }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
		border-radius: 10px;
      }

	  .controls {
		  display: inline;
	  }

	  table.adp-directions {
		  width: 100%;

	  }

table.adp-placemark {
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-custom {
	margin-bottom: 0;
	border: none;
	padding-top: 10px;

}

/* General Styles */
body {
  font-family: 'Open Sans', 'Calibri', Arial, sans-serif;
  font-size: 1.25em;
  background-color: #f6feff;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

figcaption {
	color: white;
	text-align: center;
	font-size: 12px;
}

#bookingsNotes {
	color: #333;
}

.prim-text {
  line-height: 1.5;
  margin: 30px 0;
  color: #00171f;
}

.sec-text {
  line-height: 1.5;
  margin: 30px 0;
  color: #f6feff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

a {
  color: #00171f;
}

a:hover, a:focus {
  color: #00bff3;
}

hr.small {         /*tiny rules to break up text sections*/
  max-width: 100px;
  margin: 10px auto;
  border-width: 4px;
  border-color: #f6feff;
}

hr.content-hr {
  background-color: #efd093;
}

/* Logo, icon and branding styles */
#MHSlogo {
  max-width: 150px;
  z-index: 10;
}

#MHSlogoMobile {
  max-width: 150px;
  margin-right: 2%;
}

.navbar {
  width: 100%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
  margin-right: 4%;
}

.navbar > li {
  background-color: #00bff3;
}

.navbar-custom { /*customized nav styles. NOT a bootstrap pre-made class*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background: #f6feff;
}

.navbar-custom .navbar-header .navbar-toggle { /*cutsomizing mobile nav*/
  color: #00bff3;
  border: 1px solid #00bff3;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.dropdown .dropdown-menu {
  text-align: center;
}

.dropdown .dropdown-menu li:hover {
  background: #efd093;
}

#partners {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

#bed {
	margin-top: -25px;
	margin-bottom: 10px;
}

#ourPartners h3 {
	font-size: 30px;
}

#before1 {
	margin-top: 20px;
}


@media only screen and (min-width: 768px) {
	#createForm input:not(#createsub), #createForm select, #adminEdit input:not(.submit), #editrest input:not(.submit), #editnews input:not(.submit), #editevents input:not(.submit), #editsched input:not(.submit),
	#editgall input:not(.submit), 	#editvols input:not(.submit)     {
		width: 300px;
	}

	p.inline
	{

	display: inline;
	padding: 10px;
	}

  .logo-con {
    display: none;
  }

  .navbar-custom {
    background: #f6feff;
  }

  .navbar-custom .navbar-brand {
    color: #00bff3;
    padding: 20px;
  }

  .navbar-custom .nav li a {
    color: black;
    padding: 20px;
  }

  .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: #00bff3;
  }
}

#loginIcon {
  max-width: 20px;
}

@media only screen and (max-width: 767px) {
  .logo-con {
    margin-top: 20px;
  }

  #MHSlogo {
    display: none;
  }

  #MHSLogoMobile {
    margin-right: 20px;
  }

  .dropdown .dropdown-menu {
    text-align: left;
  }

  .logo-con {
    max-width: 150px;
    margin-top: -28px;
    margin-left: 28%;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
  }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    transition: transform 0.3s;
  }

  .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
    color: #00bff3;
  }

  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }

  .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
    color: #00bff3;
  }

  .navbar-custom.is-visible {
  transform: translate3d(0, 100%, 0);
  }

  #schedule {
  background: url('../images/BG_ci_aerial.jpg') no-repeat;
  background-size: 100%;
  background-color: transparent;
  }
}

/* Content Section Styles */
.top-container {
  padding: 75px 0px 40px 0px;
  background: #00bff3;
}

.well {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #efd093;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.thumbnail {
  background: rgba(242, 242, 242, 0.6);
  border: none;
}

.important {
  font-size: 1.4em;
}

/*Marine Heritage Society Section Header*/
.content-header {
  text-align: center;
}

/* Home Page */
/*Promo Video Section*/
.embed-responsive-item {
    max-width: 1280px;
}

.video-container {
	margin-top: 5%;
}

/*Touring Chantry Island Carousel Section*/
#tourSec {
  padding: 35px 0px 35px 0px;
}

.carousel-indicators .active {
  background-color: #00bff3;
}

.carousel-inner img {
  width: 100%;
  max-height: 600px
}

.carousel-control {
  width: 0;
}

.carousel-control.left, .carousel-control.right {
	opacity: 1;
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev, .carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span, .carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover, .carousel-control.right span:hover {
	opacity: .7;
}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #f6feff;
}

.carousel-text h3 {
  font-size: 40px;
}

.carousel-text h4 {
	padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-custom {
  color: #f6feff;
  background-color: transparent;
  border: 2px solid #f6feff;
}

.btn-custom:hover {
  color: #00bff3;
  background-color: #f6feff;
  border-color: #f6feff;
}

.btn-custom-alt {
  color: #efd093;
  border: 2px solid#efd093;
  background-color: transparent;
}

.btn-custom-alt:hover {
  color: #f6feff;
  border: 2px solid #efd093;
  background-color: #efd093;
}

.btn-custom-alt-bookings {
  color: #f6feff;
  border: 2px solid #efd093;
  background-color: #efd093;
}

.btn-custom-alt-bookings:hover {
  color: #efd093;
  border: 2px solid#efd093;
  background-color: transparent;
}

/* About Chantry Island */
.about-container {
  padding-top: 15px;
  background: #efd093;
}

.about-container h3 {
  color: #f6feff;
  margin-bottom: 4%;
}

.img-responsive {
  margin: 0 auto;
}

/* News section */
.news-container {
  padding: 40px 0px 40px 0px;
}

#newsTabs .tab-content {
  background-color: #f6feff;
  padding : 5px 15px;
  border: 2px solid #efd093;
  border-radius: 0 0 8px 8px;
  color: #f6feff;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#newsTabs .nav-pills {
  color: #f6feff;
}

#newsTabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}


#newsTabs .nav-pills > li > a:hover, #newsTabs .nav-pills > li.active > a:focus {
  background-color: #efd093;
  color: #f6feff;
}

.tab-pane > .active {
  background-color: #efd093;
  color: #f6feff;
}

/* Events content section */
#eventsCal {
  background:  url('../images/island_water.jpg') no-repeat center center;
  overflow-y: hidden;
  padding: 40px 0px 40px 0px;
}

@media (min-width: 992px) {
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;}

	#createForm input:not(#createsub), #createForm select, #adminEdit input:not(.submit), #editrest input:not(.submit), #editnews input:not(.submit), #editevents input:not(.submit), #editsched input:not(.submit),
	#editgall input:not(.submit), #editvols input:not(.submit)       {
		width: 400px;
	}

	#adminOptions, #schedOptions {
		width: 90%;
		display: block;
		margin: 0 auto;
		padding-bottom: 20px;
	}

	#adminOptions li, #schedOptions li {
    display: inline;
  }

	#adminOptions li a, #schedOptions li a {
		margin-right: 20px;
	}

#adminIndex h1 {
  text-align: center;
  font-size: 3em;
	margin-bottom: 30px;
}
}

@media (max-width: 991px) {
	.carousel-caption p,
	#myCarousel .list-group {display:none;}
}

/* Events calendar section */
#events {
  padding: 40px 0px 40px 0px;
  background: #00bff3;
}

#panelWrapper {
  border-color: #efd093;
  background: rgba(242, 242, 242, 0.8);
  box-shadow: 0px 10px 18px 0px rgba(239, 208, 147, 0.6);
}

.panel-title {
  text-align: center;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #efd093;
  color: #f6feff;
}

.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}

/* Bookings */
#bookings {
  margin-top: 4%;
  padding: 40px 0px 40px 0px;
  background: #00bff3;
}

#schedule {
  padding: 40px 0px 40px 0px;
  background-color: #efd093;
}

#bookingsInfo {
  padding-top: 4%;
  background-color: #efd093;
}

/*Location/Google Maps Section*/
.yellow {
	color:  #00bff3; }

#mapWrapper {

}

 #map {
    height: 50%;
		border-bottom: solid 1px #4d90fe;
		width: 100%;
      }
      /* Optional: Makes the sample page fill the window.
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */

      #map-panel {
				z-index: 10;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
				background-color: #4d90fe;
      }

      #right-panel {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 30px;
				padding-left: 20px;
				padding-right: 20px;
				margin-top: -320px;
				border: solid 4px #4d90fe;
				border-radius: 20px;
				height: 500px;
				margin-right: 20px;
				margin-left: 20px;
				overflow: auto;
				margin-bottom: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 5px;
				width: 100%;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
				width: 100%;
      }



	 #mode-selector {
		 color: #fff;
		 border: solid 2px #4d90fe;
		 border-radius: 10px;
		 background-color: white;
		 padding: 10px;
		 margin-top: 5px;
		 margin-left: 12px;
		 box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
  	}

	       #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 300;
        width: 220px;
		padding: 10px;
		border: solid 2px #4d90fe;
		border-radius: 10px;
		margin-top: 10px;
		margin-right: 8px;
		 box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
      }

	  #origin-input {
		 margin-left: 30%;
	  }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
		border-radius: 10px;
      }

	  .controls {
		  display: inline;
	  }

	  table.adp-directions {
		  width: 100%;

	  }

nav.navbar.navbar-default.navbar-fixed-top.navbar-custom {
	margin-bottom: 0;
	border: none;
	padding-top: 10px;
}

/*Gallery Section*/
#gallerySec {
  padding: 40px 0px 40px 0px;
}

#modal5, #modal6, #modal7, #modal8 {
  margin-bottom: 20px;
}

#volunteers {
  padding: 40px 0px 40px 0px;
}

.modal .modal-header {
  text-align: center;
}

.thumb {
	padding-bottom: 25px;
}

/* Contact Section */
#mapSec {
  padding: 40px 0px 40px 0px;
}
#contactSec {
  margin-top: 6%;
  padding: 40px 0px 40px 0px;
  background: #00bff3;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

/* Sub-footer Section */
.sub-footer {
  background: url(../images/bg_white_boats.jpg) no-repeat center center;
  background-size: cover;
  min-height: 25%;
  overflow: hidden;
  padding: 50px 50px;
}

.sub-footer-con {
  text-align: center;
  max-height: 200px;
  padding: 20px 20px;
}

.thumbnail {
  border: none;
  background: rgba(242, 242, 242, 0.6);
}

/* Footer styles */
.contact-full {
    width: 100%;
}

footer {
	background: #00bff3;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #0085A1;
	border-top: 1px solid #0085A1;
}

footer p {
	margin: 0;
}

footer img {
	max-width: 100%;
}

footer h3 {
	border-bottom: 1px solid #f6feff;
	color: #f6feff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}

footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #f6feff;
}

footer ul li a {
	padding: 0 0 5px 0;
	display: block;
  color: inherit;
}

footer ul li a:hover {
	color: #0085A1;
	opacity: 1;
	text-decoration: none;
}

.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.contact-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}

.contact-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #f6feff;
}

.newsletter-box {
	overflow: hidden;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
	background: none repeat scroll 0 0 #0085A1;
	border: 2px solid #0085A1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a {
	color: #f6feff;
}

.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #f6feff !important;
}

.footer-bottom {
	background: #0085A1;
	border-top: 1px solid #f6feff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
}

/*Fixes*/
.nopadding {
    padding: 0;
}

body {
	overflow-x: hidden;
}
